# Python
*.pyc
*.pyo
__pycache__/
venv/
env/
.venv/
*.pyd

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log
